/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Navigation Bar
benrobjoh.com
August 26, 2012 */
#navbar {
  margin: 0 auto;
  padding: 0;
  height: 2em;
  background-color: #034257;
  border-radius: .5em; }
  #navbar li {
    list-style: none;
    float: left;
    margin-left: auto;
    margin-right: auto; }
    #navbar li a {
      display: block;
      padding: 3px 8px;
      color: #FFFFFF;
      text-decoration: none; }
    #navbar li ul {
      display: none;
      width: 10em;
      background-color: #034257; }
    #navbar li:hover ul {
      display: block;
      position: absolute;
      margin: 0;
      padding: 0; }
    #navbar li:hover li {
      float: none; }
      #navbar li:hover li a {
        background-color: #034257;
        border-bottom: 1px solid #FFFFF;
        color: #FFFFFF; }
    #navbar li li a:hover {
      background-color: #858310; }

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Styles for benrobjoh.com
August 26, 2012 */
@font-face {
  font-family: 'GudeaRegular';
  src: url("fonts/Gudea-Regular-webfont.eot");
  src: url("fonts/Gudea-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Gudea-Regular-webfont.woff") format("woff"), url("fonts/Gudea-Regular-webfont.ttf") format("truetype"), url("fonts/Gudea-Regular-webfont.svg#GudeaRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  /*background:url('http://benrobjoh.com/include/background.jpg') no-repeat center center fixed;
  background-size: cover;*/
  background-color: #571803;
  font-family: 'GudeaRegular', 'Helvetica', sans-serif;
  color: #858310;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.5; }

#footer {
  text-align: center;
  margin-top: 100px; }

.center {
  text-align: center;
  display: block; }

.huge {
  font-size: 36pt; }

.big {
  font-size: 18pt; }

.medium {
  font-size: 16pt; }

p {
  text-align: justify;
  word-break: normal;
  word-spacing: normal;
  line-height: normal;
  font-size: 12pt; }

a {
  color: #858310;
  dispay: block; }

a:hover {
  color: #BAB714; }

li {
  text-align: justify; }

img.floatRight {
  float: right;
  margin: 25px;
  max-height: 100%;
  max-width: 100%;
  border-radius: .5em; }

img {
  border-radius: .5em;
  max-height: 100%;
  max-width: 100%;
  margin: 25px; }

img[alt="Banner"] {
  margin: 0 auto; }

img.shadow {
  box-shadow: 0px 1px 3px 2px rgba(133, 131, 16, 0.67); }

.margin {
  margin: 25px; }

.box {
  background: #e1ffff;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #e1ffff), color-stop(7%, #e1ffff), color-stop(12%, #e1ffff), color-stop(12%, #fdffff), color-stop(30%, #e6f8fd), color-stop(54%, #c8eefb), color-stop(75%, #bee4f8), color-stop(100%, #b1d8f5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  color: #000000;
  border-radius: .5em;
  padding: 1em;
  overflow: auto; }

.abstract {
  display: none;
  border-radius: .5em;
  border-style: solid;
  border-color: #571803;
  border-width: .25em;
  background: #034257;
  color: #858310;
  font-size: .95em;
  padding: 1em; }

.abstractlink {
  color: #571803;
  text-decoration: underline;
  cursor: pointer; }

.abstractlink:hover {
  color: #AC3006; }

.skillcolumn {
  width: 50%;
  float: left; }
