/* Navigation Bar
benrobjoh.com
August 26, 2012 */

#navbar {
	margin: 0 auto;
	padding: 0;
	height: 2em;
	background-color:#034257;
	border-radius: .5em;
	
	li {
		list-style:none;
		float:left;
		margin-left: auto;
		margin-right: auto;
		a {
			display: block;
			padding: 3px 8px;
			color: #FFFFFF;
			text-decoration: none;
		}
		ul {
			display: none; 
			width: 10em;
			background-color: #034257;
		}
		&:hover {
			ul {
				display: block;
				position: absolute;
				margin: 0;
				padding: 0;
			}
			li {
				float: none;
				a {
					background-color: #034257;
					border-bottom: 1px solid #FFFFF;
					color: #FFFFFF;
				}
			}
		}
		li a:hover {
			background-color: #858310;	
		}
	}
}
	
img.center {
	display: block;   margin-left: auto;   margin-right: auto;
	}