/* benrobjoh
Styles by Ben Johnson
2012
*/
// Imports
@import "compass/reset";
@import "compass/utilities/general/clearfix";

// Variables
$font: 'Gudea';
$banner-background-color: #14ce39;
$banner-text-color: #f9ee14;
$content-background-color: rgba(240, 240, 125, 1.0);

$h1-size: 4rem;
$h2-size: $h1-size * .75;
$h3-size: $h2-size * .85;
$h4-size: $h3-size * .85;
$h5-size: $h4-size * .85;


$phone: 480px;
$tablet: 767px;
$desktop: 980px;
 
//Mixins
@mixin text-cutout {
	text-shadow: -.1rem -.2rem .15rem black;
}

@mixin column($column-width, $column-count) {
	-webkit-columns:$column-width $column-count;
	-moz-columns:$column-width $column-count;
	columns:$column-width $column-count;
}
// Fonts
@import "fonts.scss";

html {
	font-size: 62.5%;
}

body {
	font-family: $font;
}

header[role="banner"] {
	font-family: $font, sans-serif;
	margin-top:0; 
	text-align: center;
	background: $banner-background-color;
	h1 {
		font-size: 8rem;
		color: $banner-text-color;
		text-align: center;
		padding-top: 5rem;
		padding-bottom: 2rem;
		@include text-cutout;
		@media (max-width: $phone) {
			font-size:3rem;
		}
	}
	h2 {
		font-size: 4rem;
		text-align: center;
		padding-bottom: 4rem;
		color: white;
		@include text-cutout;
	}
	nav {
		border-bottom: .2rem inset black;
		ul {
			margin: 0 auto;
			text-align: center;
			background: darken($banner-background-color, 15%);
			li {
				display: inline-block;
				list-style: none;
				vertical-align: middle;
				padding-top: 1rem;
				padding-bottom: 1rem;
				a {
					color: $banner-text-color;
					font-size: 1.8rem;
					text-decoration: none; 
					padding-left: 3rem;
					padding-right: 3rem;
					display: none;
					&:hover, &.active {
						color:lighten($banner-text-color, 35%);
					}
				}
			}
		}
	}
}

#content {
	margin-top: 0;
	padding-top: 4rem;
	padding-left: 15%;
	padding-right: 15%;
	@media (max-width:$phone) {
		padding-left: 5%;
		padding-right: 5%;
	}
	padding-bottom: 4rem;
	background: $content-background-color;
	::selection {
		background: darken($banner-background-color, 10%); 
	}
	section {
		margin-bottom: 2rem;
		border-top-width: .15rem;
		border-top-color:darken($banner-background-color, 15%);
		border-top-style: solid;
		padding-top: 2rem;
		&:first-of-type {
			border: none;
		}
		&.column, .column {
			@media (min-width: $tablet) {
				@include column(auto, 2);
				header {
					-webkit-column-span:all;
					column-span: all;
				}
			}
		}
		header {
			border-bottom-width: .15rem;
			border-bottom-color:darken($banner-background-color, 15%);
			border-bottom-style: dashed;
			margin-bottom: 2rem;
		}
		h1:first-of-type {
			text-align: center;
		}
		&#education {
			.school {
				margin-top: 4rem;
			}
		}
	}
	.nav {
		ul {
			margin: 0 auto;
			text-align: center;
			li {
				display: inline-block;
				list-style: none;
				vertical-align: middle;
				padding-top: 1rem;
				padding-bottom: 1rem;
				a {
					color: darken($banner-background-color, 10%);
					font-size: 1.8rem;
					text-decoration: none; 
					padding-left: 3rem;
					padding-right: 3rem;
					&:hover {
						color:lighten($banner-text-color, 35%);
					}
				}
			}
		}
	}
	h1 {
		font-size: $h1-size;
		padding-bottom: 1rem;
	}
	h2 {
		font-size: $h2-size;
		padding-bottom: 1rem;
		
	}
	h3 {
		font-size: $h3-size; 
		padding-bottom: .75rem;
	}
	h4 {
		font-size: $h4-size;
		padding-bottom: .75rem;
	}
	h5 {
		font-size: $h5-size;
		padding-bottom: .5rem;
	}
	p {
		padding-top: 1rem;
		font-size: 1.6rem;
		line-height: 2rem;
	}
	a {
		color: darken($banner-background-color, 10%);
		&::selection {
			color: $banner-text-color;
			
		}
	}
	ul {
		margin-bottom: 2rem;
		padding-left: 1.6rem;
		li {
			list-style: disc;
			font-size: 1.6rem;
			line-height: 2rem;
			ul li {
				list-style: circle;
			}	
		}
	}
	img {
		margin: 1.5rem;
		&[alt="Ben Johnson Photo"], &[alt="UNC Graduation Photo"],&[alt="Etown Graduation Photo"] {
			float: right;
			border-radius: 12px;
			box-shadow: 2px 2px 4px black;
		}
	}
	footer {
		margin-top: 10rem;
		font-size: 1.6rem;
	}
	.abstractlink {
		cursor: pointer;
		color: #db5151;
		text-decoration: underline;
	}
}

