/* benrobjoh
Styles by Ben Johnson
2012
*/
// Imports
@import "compass/reset";
@import "compass/utilities/general/clearfix";

// Variables
$font: 'Gudea';

$phone: 480px;
$tablet: 767px;
$desktop: 980px;
 
//Mixins
@mixin text-cutout {
	text-shadow: -.1rem -.2rem .15rem black;
}
// Fonts
@import "fonts.scss";

html {
	font-size: 62.5%;
}

body {
	font-family: $font;
}

